<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>19H1323</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>AppleALC</string>
	<key>CFBundleIdentifier</key>
	<string>as.vit9696.AppleALC</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>AppleALC</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>1.6.4</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleVersion</key>
	<string>1.6.4</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>12B45b</string>
	<key>DTPlatformName</key>
	<string>macosx</string>
	<key>DTPlatformVersion</key>
	<string>11.0</string>
	<key>DTSDKBuild</key>
	<string>20A2408</string>
	<key>DTSDKName</key>
	<string>macosx11.0</string>
	<key>DTXcode</key>
	<string>1220</string>
	<key>DTXcodeBuild</key>
	<string>12B45b</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>ALCUserClientProvider</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>as.vit9696.AppleALC</string>
			<key>IOClass</key>
			<string>ALCUserClientProvider</string>
			<key>IOMatchCategory</key>
			<string>ALCUserClientProvider</string>
			<key>IOProbeScore</key>
			<integer>1000</integer>
			<key>IOProviderClass</key>
			<string>IOHDACodecDevice</string>
			<key>IOUserClientClass</key>
			<string>ALCUserClient</string>
		</dict>
		<key>as.vit9696.AppleALC</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>as.vit9696.AppleALC</string>
			<key>HDAConfigDefault</key>
			<array>
				<dict>
					<key>AFGLowPowerState</key>
					<data>
					AwAAAA==
					</data>
					<key>Codec</key>
					<string>agasecond - Realtek ALC256 (3246) for Xiaomi Pro Enhanced 2019</string>
					<key>CodecID</key>
					<integer>283902550</integer>
					<key>ConfigData</key>
					<data>
					ASccIAEnHQEBJx6mAScfkAE3HPABNx0AATce
					AAE3H0ABRxzwAUcdAAFHHgABRx9AAYcc8AGH
					HQABhx4AAYcfQAGXHEABlx0QAZceqwGXHwQB
					pxzwAacdAAGnHgABpx9AAbccEAG3HQEBtx4X
					AbcfkAG3DAIB1xzwAdcdAAHXHgAB1x9AAecc
					8AHnHQAB5x4AAecfQAIXHDACFx0QAhceKwIX
					HwQCFwwCAgUAEAIEACACBQBGAgQwpA==
					</data>
					<key>FuncGroup</key>
					<integer>1</integer>
					<key>LayoutID</key>
					<integer>69</integer>
					<key>WakeConfigData</key>
					<data>
					AbcMAgIXDAI=
					</data>
					<key>WakeVerbReinit</key>
					<true/>
				</dict>
				<dict>
					<key>AFGLowPowerState</key>
					<data>
					AwAAAA==
					</data>
					<key>Codec</key>
					<string>Realtek ALC256</string>
					<key>CodecID</key>
					<integer>283902550</integer>
					<key>ConfigData</key>
					<data>
					AScc8AEnHQABJx4AAScfQAFHHCABRx0AAUce
					FwFHH5ABlxwwAZcdEAGXHosBlx8CAhccUAIX
					HRACFx4rAhcfAgE3HPABNx0AATceAAE3H0AB
					hxzwAYcdAAGHHgABhx9AAacc8AGnHQABpx4A
					AacfQAG3HDABtx0AAbceoAG3H5AB1xzwAdcd
					AAHXHgAB1x9AAecc8AHnHQAB5x4AAecfQAFH
					DAIBtwwC
					</data>
					<key>FuncGroup</key>
					<integer>1</integer>
					<key>LayoutID</key>
					<integer>5</integer>
					<key>WakeConfigData</key>
					<data>
					AUcMAg==
					</data>
					<key>WakeVerbReinit</key>
					<true/>
				</dict>
				<dict>
					<key>AFGLowPowerState</key>
					<data>
					AwAAAA==
					</data>
					<key>Codec</key>
					<string>Rockjesus - Realtek ALC256 (3246) - dell 7559</string>
					<key>CodecID</key>
					<integer>283902550</integer>
					<key>ConfigData</key>
					<data>
					ASccAAEnHQEBJx6mAScfmQFHHBABRx0BAUce
					FwFHH5kCFxwgAhcdEAIXHiECFx8BAbcMAg==
					</data>
					<key>FuncGroup</key>
					<integer>1</integer>
					<key>LayoutID</key>
					<integer>11</integer>
					<key>WakeConfigData</key>
					<data>
					AUcMAg==
					</data>
					<key>WakeVerbReinit</key>
					<true/>
				</dict>
				<dict>
					<key>AFGLowPowerState</key>
					<data>
					AwAAAA==
					</data>
					<key>Codec</key>
					<string>Insanelydeepak - Realtek ALC256 (3246) for Dell Series</string>
					<key>CodecID</key>
					<integer>283902550</integer>
					<key>ConfigData</key>
					<data>
					ASccEAEnHQABJx6gAScfkAFHHCABRx0AAUce
					FwFHH5ABlxwwAZcdEAGXHosBlx8CAhccUAIX
					HRACFx4rAhcfAgE3HPABNx0AATceAAE3H0AB
					hxzwAYcdAAGHHgABhx9AAacc8AGnHQABpx4A
					AacfQAG3HPABtx0AAbceAAG3H0AB1xzwAdcd
					AAHXHgAB1x9AAecc8AHnHQAB5x4AAecfQAFH
					DAI=
					</data>
					<key>FuncGroup</key>
					<integer>1</integer>
					<key>LayoutID</key>
					<integer>13</integer>
					<key>WakeConfigData</key>
					<data>
					AUcMAg==
					</data>
					<key>WakeVerbReinit</key>
					<true/>
				</dict>
				<dict>
					<key>AFGLowPowerState</key>
					<data>
					AwAAAA==
					</data>
					<key>Codec</key>
					<string>Insanelydeepak - Realtek ALC256 (3246) for Dell Series with subwoofer</string>
					<key>CodecID</key>
					<integer>283902550</integer>
					<key>ConfigData</key>
					<data>
					ASccEAEnHQABJx6gAScfkAFHHCABRx0AAUce
					FwFHH5ABRwwCAZccMAGXHRABlx6LAZcfAgG3
					HEABtx0AAbceFwG3H5ABtwwCAhccUAIXHRAC
					Fx4rAhcfAgE3HPABNx0AATceAAE3H0ABhxzw
					AYcdAAGHHgABhx9AAacc8AGnHQABpx4AAacf
					QAHXHPAB1x0AAdceAAHXH0AB5xzwAecdAAHn
					HgAB5x9A
					</data>
					<key>FuncGroup</key>
					<integer>1</integer>
					<key>LayoutID</key>
					<integer>14</integer>
					<key>WakeConfigData</key>
					<data>
					AUcMAgG3DAICFwfAAhcIgwGXByQBpwcg
					</data>
					<key>WakeVerbReinit</key>
					<true/>
				</dict>
				<dict>
					<key>AFGLowPowerState</key>
					<data>
					AwAAAA==
					</data>
					<key>Codec</key>
					<string>VicQ - Realtek ALC256 (3246) for Dell 7000 Series with 2.1Ch</string>
					<key>CodecID</key>
					<integer>283902550</integer>
					<key>ConfigData</key>
					<data>
					ASccYAEnHAEBJxymAScckAE3HPABNx0AATce
					AAE3H0ABRxxAAUcdAQFHHhABRx+QAUcMAgGH
					HPABhx0AAYceAAGHH0ABlxwgAZcdEAGXHosB
					lx8BAacccAGnHQABpx6hAacfAQG3HEEBtx0B
					AbceEAG3H5ABtwwCAdcc8AHXHQAB1x4AAdcf
					QAHnHPAB5x0AAeceAAHnH0ACFxxQAhcdEAIX
					HisCFx8BAhcMAg==
					</data>
					<key>FuncGroup</key>
					<integer>1</integer>
					<key>LayoutID</key>
					<integer>16</integer>
					<key>WakeConfigData</key>
					<data>
					AUcMAgG3DAI=
					</data>
					<key>WakeVerbReinit</key>
					<true/>
				</dict>
				<dict>
					<key>AFGLowPowerState</key>
					<data>
					AwAAAA==
					</data>
					<key>Codec</key>
					<string>hjmmc - Realtek ALC256 (3246) for Magicbook 2018 with 4CH</string>
					<key>CodecID</key>
					<integer>283902550</integer>
					<key>ConfigData</key>
					<data>
					AUccEAFHHQEBRx4XAUcfkAFHDAIBtxwSAbcd
					AQG3HhcBtx+QAbcMAgIXHCACFx0QAhceIQIX
					HwQCFwwCASccMAEnHQEBJx6mAScfkAGXHEAB
					lx0QAZcegQGXHwQBNxzwATcdAAE3HgABNx9A
					AYcc8AGHHQABhx4AAYcfQAGnHPABpx0AAace
					AAGnH0AB1xzwAdcdAAHXHgAB1x9AAecc8AHn
					HQAB5x4AAecfQA==
					</data>
					<key>FuncGroup</key>
					<integer>1</integer>
					<key>LayoutID</key>
					<integer>17</integer>
					<key>WakeConfigData</key>
					<data>
					AUcMAgG3DAICFwwC
					</data>
					<key>WakeVerbReinit</key>
					<true/>
				</dict>
				<dict>
					<key>AFGLowPowerState</key>
					<data>
					AwAAAA==
					</data>
					<key>CodecID</key>
					<integer>283902550</integer>
					<key>Comment</key>
					<string>vusun123 - ALC256 for Asus X555UJ</string>
					<key>ConfigData</key>
					<data>
					AUccUAFHHQABRx4XAUcfkAFHDAIBpxwwAacd
					AAGnHqABpx+QAhccIAIXHRACFx4hAhcfAA==
					</data>
					<key>FuncGroup</key>
					<integer>1</integer>
					<key>LayoutID</key>
					<integer>28</integer>
					<key>WakeConfigData</key>
					<data>
					AUcMAg==
					</data>
					<key>WakeVerbReinit</key>
					<true/>
				</dict>
				<dict>
					<key>AFGLowPowerState</key>
					<data>
					AwAAAA==
					</data>
					<key>Codec</key>
					<string>DalianSky - Realtek ALC256 (3246) for Dell 7000 Series</string>
					<key>CodecID</key>
					<integer>283902550</integer>
					<key>ConfigData</key>
					<data>
					ASccMAEnHQEBJx6mAScfkAE3HPABNx0AATce
					AAE3H0ABRxwQAUcdAQFHHhcBRx+QAUcMAgGH
					HPABhx0AAYceAAGHH0ABlxxAAZcdEAGXHoEB
					lx8CAacc8AGnHQABpx4AAacfQAG3HPABtx0A
					AbceAAG3H0AB1xzwAdcdAAHXHgAB1x9AAecc
					8AHnHQAB5x4AAecfQAIXHCACFx0QAhceIQIX
					HwICFwwC
					</data>
					<key>FuncGroup</key>
					<integer>1</integer>
					<key>LayoutID</key>
					<integer>56</integer>
					<key>WakeConfigData</key>
					<data>
					AUcMAg==
					</data>
					<key>WakeVerbReinit</key>
					<true/>
				</dict>
				<dict>
					<key>AFGLowPowerState</key>
					<data>
					AwAAAA==
					</data>
					<key>Codec</key>
					<string>Kk Realtek ALC256 (3246) for magicbook</string>
					<key>CodecID</key>
					<integer>283902550</integer>
					<key>ConfigData</key>
					<data>
					AScccAEnHQEBJx6mAScfkAE3HPABNx0AATce
					AAE3H0ABRxzwAUcdAAFHHgABRx9AAYcc8AGH
					HQABhx4AAYcfQAGXHDABlx0QAZceiwGXHwIB
					pxzwAacdAAGnHgABpx9AAbccQAG3HQEBtx4Q
					AbcfkAG3DAIB1xzwAdcdAAHXHgAB1x9AAecc
					8AHnHQAB5x4AAecfQAIXHFACFx0QAhceKwIX
					HwICFwwC
					</data>
					<key>FuncGroup</key>
					<integer>1</integer>
					<key>LayoutID</key>
					<integer>57</integer>
					<key>WakeConfigData</key>
					<data>
					AbcMAgIXDAI=
					</data>
					<key>WakeVerbReinit</key>
					<true/>
				</dict>
				<dict>
					<key>AFGLowPowerState</key>
					<data>
					AwAAAA==
					</data>
					<key>Codec</key>
					<string>lgs3137 - Realtek ALC256 for ASUS Y5000U X507UBR</string>
					<key>CodecID</key>
					<integer>283902550</integer>
					<key>ConfigData</key>
					<data>
					AScc8AEnHQABJx4AAScfQAE3HPABNx0AATce
					AAE3H0ABRxwgAUcdAQFHHhcBRx+QAUcMAgGH
					HPABhx0AAYceAAGHH0ABlxwwAZcdEAGXHosB
					lx8CAacc8AGnHQABpx4AAacfQAG3HDABtx0A
					AbceoAG3H5ABtwwCAdcc8AHXHQAB1x4AAdcf
					QAHnHPAB5x0AAeceAAHnH0ACFxxQAhcdEAIX
					HisCFx8CAhcMAgGXByQBtwckAhcIgw==
					</data>
					<key>FuncGroup</key>
					<integer>1</integer>
					<key>LayoutID</key>
					<integer>66</integer>
					<key>WakeConfigData</key>
					<data>
					AUcMAgIXDAIBlwckAbcHJAIXCIM=
					</data>
					<key>WakeVerbReinit</key>
					<true/>
				</dict>
				<dict>
					<key>AFGLowPowerState</key>
					<data>
					AwAAAA==
					</data>
					<key>Codec</key>
					<string>Realtek ALC256 for Dell OptiPlex 7080</string>
					<key>CodecID</key>
					<integer>283902550</integer>
					<key>ConfigData</key>
					<data>
					AUccEAFHHQEBRx4XAUcfkAGXHEABlx0QAZce
					iwGXHwIBtxwgAbcdEAG3HgEBtx8BAhccMAIX
					HRACFx4rAhcfAgFHDAIBtwwCAhcMAg==
					</data>
					<key>FuncGroup</key>
					<integer>1</integer>
					<key>LayoutID</key>
					<integer>67</integer>
					<key>WakeConfigData</key>
					<data>
					AUcMAgG3DAICFwwC
					</data>
					<key>WakeVerbReinit</key>
					<true/>
				</dict>
				<dict>
					<key>AFGLowPowerState</key>
					<data>
					AwAAAA==
					</data>
					<key>Codec</key>
					<string>Durian - Realtek ALC256 (3246) for MateBook X Pro 2019（4CH）</string>
					<key>CodecID</key>
					<integer>283902550</integer>
					<key>ConfigData</key>
					<data>
					AbccEAG3HQEBtx4XAbcfkAG3DAIBRxwRAUcd
					AQFHHhcBRx+QAUcMAgIXHCACFx0QAhceIQIX
					HwICFwwCASccMAEnHQEBJx6mAScfkAGXHPAB
					lx0AAZceAAGXH0AB1xzwAdcdAAHXHgAB1x9A
					AYcc8AGHHQABhx4AAYcfQAE3HPABNx0AATce
					AAE3H0ABpxzwAacdAAGnHgABpx9AAecc8AHn
					HQAB5x4AAecfQA==
					</data>
					<key>FuncGroup</key>
					<integer>1</integer>
					<key>LayoutID</key>
					<integer>76</integer>
					<key>WakeConfigData</key>
					<data>
					AbcMAgFHDAI=
					</data>
					<key>WakeVerbReinit</key>
					<true/>
				</dict>
				<dict>
					<key>AFGLowPowerState</key>
					<data>
					AwAAAA==
					</data>
					<key>Codec</key>
					<string>Wanwu - Realtek ALC256 (3246) for MateBook X Pro 2019</string>
					<key>CodecID</key>
					<integer>283902550</integer>
					<key>ConfigData</key>
					<data>
					ASccIAEnHQEBJx6mAScfkAE3HPABNx0AATce
					AAE3H0ABRxzwAUcdAAFHHgABRx9AAYcc8AGH
					HQABhx4AAYcfQAGXHEABlx0QAZceqwGXHwQB
					pxzwAacdAAGnHgABpx9AAbccEAG3HQEBtx4X
					AbcfkAG3DAIB1xzwAdcdAAHXHgAB1x9AAecc
					8AHnHQAB5x4AAecfQAIXHDACFx0QAhceKwIX
					HwQCFwwC
					</data>
					<key>FuncGroup</key>
					<integer>1</integer>
					<key>LayoutID</key>
					<integer>19</integer>
					<key>WakeConfigData</key>
					<data>
					AbcMAgIXDAI=
					</data>
					<key>WakeVerbReinit</key>
					<true/>
				</dict>
				<dict>
					<key>AFGLowPowerState</key>
					<data>
					AwAAAA==
					</data>
					<key>Codec</key>
					<string>DalianSky - Realtek ALC256 (3246) for MateBook X Pro 2019</string>
					<key>CodecID</key>
					<integer>283902550</integer>
					<key>ConfigData</key>
					<data>
					ASccMAEnHQEBJx6mAScfkAE3HPABNx0AATce
					AAE3H0ABRxwRAUcdAQFHHhcBRx+QAUcMAgGH
					HPABhx0AAYceAAGHH0ABlxxAAZcdEAGXHoEB
					lx8EAacc8AGnHQABpx4AAacfQAG3HBABtx0B
					AbceFwG3H5ABtwwCAdcc8AHXHQAB1x4AAdcf
					QAHnHPAB5x0AAeceAAHnH0ACFxwgAhcdEAIX
					HiECFx8EAhcMAg==
					</data>
					<key>FuncGroup</key>
					<integer>1</integer>
					<key>LayoutID</key>
					<integer>97</integer>
					<key>WakeConfigData</key>
					<data>
					AbcMAg==
					</data>
					<key>WakeVerbReinit</key>
					<true/>
				</dict>
				<dict>
					<key>AFGLowPowerState</key>
					<data>
					AwAAAA==
					</data>
					<key>Codec</key>
					<string>b0ltun/agasecond - Realtek ALC256 (3246) for Hasee KingBook X57S1</string>
					<key>CodecID</key>
					<integer>283902550</integer>
					<key>ConfigData</key>
					<data>
					AbccEAG3HQABtx4XAbcfkAG3DAICFwwCAUcM
					AgGXByUCBQBFAgTQiQIFABsCBAxLAgUAEAIE
					ACA=
					</data>
					<key>FuncGroup</key>
					<integer>1</integer>
					<key>LayoutID</key>
					<integer>70</integer>
					<key>WakeConfigData</key>
					<data>
					AbcMAgFHDAICFwwC
					</data>
					<key>WakeVerbReinit</key>
					<true/>
				</dict>
				<dict>
					<key>AFGLowPowerState</key>
					<data>
					AwAAAA==
					</data>
					<key>Codec</key>
					<string>sweet3c - ALC289 for XPS 9500 4k </string>
					<key>CodecID</key>
					<integer>283902601</integer>
					<key>ConfigData</key>
					<data>
					ASccIAEnHQEBJx6mAScfkAE3HPABNx0AATce
					AAE3H0ABRxxAAUcdAQFHHhcBRx+QAUcMAgFn
					HPABZx0AAWceAAFnH0ABdxxgAXcdIQF3HhEB
					dx+QAXcMAgGHHPABhx0AAYceAAGHH0ABlxxw
					AZcdEAGXHosBlx8CAacc8AGnHQABpx4AAacf
					QAG3HPABtx0AAbceAAG3H0AB1xzwAdcdAAHX
					HgAB1x9AAecc8AHnHQAB5x4AAecfQAIXHDAC
					Fx0QAhceKwIXHwICFwwC
					</data>
					<key>FuncGroup</key>
					<integer>1</integer>
					<key>LayoutID</key>
					<integer>93</integer>
					<key>WakeConfigData</key>
					<data>
					AUcMAgIXDAI=
					</data>
					<key>WakeVerbReinit</key>
					<true/>
				</dict>
			</array>
			<key>IOClass</key>
			<string>AppleALC</string>
			<key>IOMatchCategory</key>
			<string>AppleALC</string>
			<key>IOProviderClass</key>
			<string>IOResources</string>
			<key>IOResourceMatch</key>
			<string>IOKit</string>
		</dict>
	</dict>
	<key>LSMinimumSystemVersion</key>
	<string>10.6</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2017 vit9696. All rights reserved.</string>
	<key>OSBundleCompatibleVersion</key>
	<string>1.0</string>
	<key>OSBundleLibraries</key>
	<dict>
		<key>as.vit9696.Lilu</key>
		<string>1.2.0</string>
		<key>com.apple.iokit.IOPCIFamily</key>
		<string>1.0.0b1</string>
		<key>com.apple.kpi.bsd</key>
		<string>8.0.0</string>
		<key>com.apple.kpi.iokit</key>
		<string>8.0.0</string>
		<key>com.apple.kpi.libkern</key>
		<string>8.0.0</string>
		<key>com.apple.kpi.mach</key>
		<string>8.0.0</string>
		<key>com.apple.kpi.unsupported</key>
		<string>8.0.0</string>
	</dict>
	<key>OSBundleRequired</key>
	<string>Root</string>
</dict>
</plist>
