<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>vendors</key>
	<dict>
		<key>dae</key>
		<dict>
			<key>products</key>
			<dict>
				<key>8c02</key>
				<dict>
                                        <key>display-resolution-preview-icon</key>
                                        <string>/System/Library/Displays/Contents/Resources/Overrides/Models/com.apple.macbookpro-13-retina-touchid-space-gray.tiff</string>
                                        <key>resolution-preview-x</key>
                                        <integer>31</integer>
                                        <key>resolution-preview-y</key>
                                        <integer>41</integer>
                                        <key>resolution-preview-width</key>
                                        <integer>148</integer>
                                        <key>resolution-preview-height</key>
                                        <integer>93</integer>
                                        <key>display-resolution-preview-icon-large</key>
                                        <string>/System/Library/Displays/Contents/Resources/Overrides/Models/com.apple.macbookpro-13-retina-touchid-space-gray-large.tiff</string>
                                        <key>resolution-preview-x-large</key>
                                        <integer>34</integer>
                                        <key>resolution-preview-y-large</key>
                                        <integer>46</integer>
                                        <key>resolution-preview-width-large</key>
                                        <integer>183</integer>
                                        <key>resolution-preview-height-large</key>
                                        <integer>115</integer>
				</dict>
			</dict>
		</dict>
		<key>display-icon</key>
		<string>public.display</string>
	</dict>
</dict>
</plist>
